# Dependencies
node_modules/

# Hardhat
cache/
artifacts/
typechain-types/

# Ignition
ignition/deployments/

# Coverage
coverage/
coverage.json

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
